.beneficio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 0 auto;
    padding: 3rem 0;

    .left {
        width: 50%;
        background-color: #f7f7f7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        border-radius: 0 0 0 0;

        .card-beneficio {
            margin-right: -7rem;
            margin-bottom: -10px;
            z-index: 99;
        }
    }

    .right {
        width: 50%;
        background-color: #650029;
        display: flex;
        justify-content: center;
        align-items: center;

        .man-beneficio {
            margin-left: -1rem;
        }

        .text {
            margin-left: 5rem;
            display: flex;
            flex-direction: column;
            color: white;
        }
    }
}