.cards-convite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
    padding-top: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
        padding-bottom: 0;
    }

    .card-convite {
        display: flex;
        max-width: 35rem;

        @media (max-width: 768px) {
            max-width: 90vw;
        }

        .image-content {
            display: flex;
            align-items: end;
            justify-content: end;

            .image-content-card {
                transform: translateY(7rem);

                @media (max-width: 768px) {
                    transform: translateY(2rem);
                    width: 10rem;
                }
            }
        }

        .text-content {
            padding: 0 2rem;
            margin-left: -1.5rem;

            .title {
                font-size: 3rem;

                @media (max-width: 768px) {
                    font-size: 2rem;
                }
            }

            .subtitle {
                margin: 1.5rem 0;
                font-size: 1.2rem;
                color: #666;
            }

            button {
                background-color: red;
                border: none;
                border-radius: 0.5rem;
                color: white;
                padding: 0.8rem 1.6rem;
            }
        }
    }
}
